In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
df= pd.read_csv('train.csv')
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,6.8,0.46,0.26,6.3,0.147,49.0,159.0,0.99434,3.14,0.47,10.0,5
1,white,5.0,0.24,0.34,1.1,0.034,49.0,158.0,0.98774,3.32,0.32,13.1,7
2,white,7.9,0.19,0.45,1.5,0.045,17.0,96.0,0.99170,3.13,0.39,11.0,6
3,white,7.2,0.18,0.45,4.4,0.046,57.0,166.0,0.99430,3.13,0.62,11.2,6
4,white,7.9,0.42,0.49,8.2,0.056,32.0,164.0,0.99650,3.29,0.60,11.2,7

In [23]:
df1= pd.read_csv('test.csv')
df1.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,white,8.0,0.44,0.49,9.1,0.031,46.0,151.0,0.99260,3.16,0.27,12.7
1,white,6.7,0.34,0.26,1.9,0.038,58.0,138.0,0.98930,3.00,0.47,12.2
2,white,7.1,0.39,0.30,9.9,0.037,29.0,124.0,0.99414,3.07,0.42,10.9
3,white,6.2,0.25,0.38,7.9,0.045,54.0,208.0,0.99572,3.17,0.46,9.1
4,white,6.6,0.40,0.30,5.3,0.038,20.0,125.0,0.99204,3.36,0.73,12.6

In [9]:
df['type'].unique()

array(['white', 'red'], dtype=object)

In [15]:
df.columns

Index(['type', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'],
      dtype='object')

In [16]:
dummies =  pd.get_dummies(df['type'])
dummies

      red  white
0       0      1
1       0      1
2       0      1
3       0      1
4       0      1
...   ...    ...
3893    0      1
3894    0      1
3895    0      1
3896    0      1
3897    0      1

[3898 rows x 2 columns]

In [70]:
merged = pd.concat([df,dummies],axis='columns')
merged.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red,white
0,white,6.8,0.46,0.26,6.3,0.147,49.0,159.0,0.99434,3.14,0.47,10.0,5,0,1
1,white,5.0,0.24,0.34,1.1,0.034,49.0,158.0,0.98774,3.32,0.32,13.1,7,0,1
2,white,7.9,0.19,0.45,1.5,0.045,17.0,96.0,0.99170,3.13,0.39,11.0,6,0,1
3,white,7.2,0.18,0.45,4.4,0.046,57.0,166.0,0.99430,3.13,0.62,11.2,6,0,1
4,white,7.9,0.42,0.49,8.2,0.056,32.0,164.0,0.99650,3.29,0.60,11.2,7,0,1

In [71]:
final= merged.drop(['red','type'], axis=1)
final.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,white
0,6.8,0.46,0.26,6.3,0.147,49.0,159.0,0.99434,3.14,0.47,10.0,5,1
1,5.0,0.24,0.34,1.1,0.034,49.0,158.0,0.98774,3.32,0.32,13.1,7,1
2,7.9,0.19,0.45,1.5,0.045,17.0,96.0,0.99170,3.13,0.39,11.0,6,1
3,7.2,0.18,0.45,4.4,0.046,57.0,166.0,0.99430,3.13,0.62,11.2,6,1
4,7.9,0.42,0.49,8.2,0.056,32.0,164.0,0.99650,3.29,0.60,11.2,7,1

In [72]:
X= final.drop(['quality'],axis=1)
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,white
0,6.8,0.46,0.26,6.3,0.147,49.0,159.0,0.99434,3.14,0.47,10.0,1
1,5.0,0.24,0.34,1.1,0.034,49.0,158.0,0.98774,3.32,0.32,13.1,1
2,7.9,0.19,0.45,1.5,0.045,17.0,96.0,0.99170,3.13,0.39,11.0,1
3,7.2,0.18,0.45,4.4,0.046,57.0,166.0,0.99430,3.13,0.62,11.2,1
4,7.9,0.42,0.49,8.2,0.056,32.0,164.0,0.99650,3.29,0.60,11.2,1

In [74]:
y= final.quality
y.head()

0    5
1    7
2    6
3    6
4    7
Name: quality, dtype: int64

In [75]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [93]:
model.fit(X,y)

LinearRegression()

In [101]:
y2= model.predict(X)
y3= []
for i in range(len(y2)):
    y3.append(round(y2[i]))
y3

[5,
 7,
 6,
 6,
 6,
 6,
 5,
 5,
 7,
 6,
 7,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 7,
 7,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 5,
 7,
 7,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 5,
 7,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 5,
 7,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 4,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 7,
 6,
 6,
 7,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 7,
 5,
 6,
 7,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 5,
 7,
 6,
 6,
 7,
 6,
 5,
 6,
 6,
 7,
 7,
 6,
 6,
 7,
 6,
 5,
 6,
 6,
 6,
 6,
 7,
 6,
 7,
 5,
 6,
 7,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 7,
 6,
 6,
 5,
 7,
 6,
 5,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 5,
 7,
 5,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 7,
 6,
 7,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 7,
 5,
 6,
 6,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 6,
 6,
 7,
 5,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 5,
 6,
 7,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 5,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 7,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 7,
 5,
 7,
 7,
 5,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 5,
 7,
 5,
 5,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 5,
 5,
 5,
 6,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 5,
 6,
 7,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 7,
 5,
 5,
 7,
 6,
 5,
 5,
 5,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 7,
 7,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 7,
 6,
 6,
 6,
 5,
 7,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 5,
 7,
 6,
 6,
 5,
 5,
 6,
 6,
 7,
 5,
 6,
 5,
 5,
 5,
 7,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 5,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 7,
 6,
 5,
 6,
 5,
 7,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 7,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 5,
 5,
 7,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 6,
 7,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 5,
 5,
 7,
 7,
 6,
 6,
 6,
 5,
 7,
 5,
 6,
 6,
 6,
 7,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 5,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 5,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 7,
 6,
 5,
 6,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 5,
 7,
 5,
 6,
 5,
 5,
 6,
 5,
 5,
 7,
 6,
 7,
 5,
 5,
 6,
 5,
 6,
 6,
 7,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 7,
 6,
 6,
 5,
 5,
 6,
 5,
 5,
 6,
 7,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 7,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 7,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 7,
 6,
 6,
 6,
 6,
 5,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 ...]

In [102]:
model.score(X,y3)

0.7266929213478746

In [77]:
dummies1 =  pd.get_dummies(df1['type'])
dummies1

      red  white
0       0      1
1       0      1
2       0      1
3       0      1
4       0      1
...   ...    ...
2594    0      1
2595    0      1
2596    0      1
2597    0      1
2598    0      1

[2599 rows x 2 columns]

In [83]:
merged1 = pd.concat([df1,dummies1],axis='columns')
merged1.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,red,white
0,white,8.0,0.44,0.49,9.1,0.031,46.0,151.0,0.99260,3.16,0.27,12.7,0,1
1,white,6.7,0.34,0.26,1.9,0.038,58.0,138.0,0.98930,3.00,0.47,12.2,0,1
2,white,7.1,0.39,0.30,9.9,0.037,29.0,124.0,0.99414,3.07,0.42,10.9,0,1
3,white,6.2,0.25,0.38,7.9,0.045,54.0,208.0,0.99572,3.17,0.46,9.1,0,1
4,white,6.6,0.40,0.30,5.3,0.038,20.0,125.0,0.99204,3.36,0.73,12.6,0,1

In [84]:
X1= merged1.drop(['red','type'], axis=1)
X1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,white
0,8.0,0.44,0.49,9.1,0.031,46.0,151.0,0.99260,3.16,0.27,12.7,1
1,6.7,0.34,0.26,1.9,0.038,58.0,138.0,0.98930,3.00,0.47,12.2,1
2,7.1,0.39,0.30,9.9,0.037,29.0,124.0,0.99414,3.07,0.42,10.9,1
3,6.2,0.25,0.38,7.9,0.045,54.0,208.0,0.99572,3.17,0.46,9.1,1
4,6.6,0.40,0.30,5.3,0.038,20.0,125.0,0.99204,3.36,0.73,12.6,1

In [111]:
y1= model.predict(X1)
y4= []
for i in range(len(y1)):
    y4.append(round(y1[i]))
y4

[6,
 6,
 6,
 5,
 7,
 6,
 5,
 7,
 5,
 5,
 7,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 5,
 7,
 6,
 7,
 7,
 6,
 5,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 5,
 5,
 5,
 6,
 6,
 5,
 6,
 7,
 5,
 6,
 7,
 7,
 7,
 6,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 5,
 6,
 5,
 7,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 5,
 7,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 7,
 7,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 5,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 5,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 7,
 5,
 5,
 5,
 6,
 5,
 6,
 7,
 5,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 7,
 6,
 6,
 6,
 7,
 5,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 7,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 7,
 7,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 5,
 5,
 5,
 6,
 7,
 6,
 5,
 5,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 7,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 7,
 7,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 7,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 6,
 5,
 5,
 6,
 4,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 5,
 5,
 5,
 6,
 6,
 6,
 5,
 5,
 6,
 7,
 5,
 6,
 6,
 6,
 7,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 7,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 7,
 5,
 6,
 5,
 6,
 6,
 5,
 6,
 7,
 6,
 5,
 7,
 6,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 6,
 5,
 6,
 6,
 4,
 5,
 6,
 6,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 7,
 7,
 5,
 7,
 6,
 6,
 5,
 6,
 5,
 7,
 5,
 6,
 7,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 7,
 6,
 7,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 7,
 5,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 7,
 7,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 5,
 5,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 7,
 6,
 6,
 7,
 6,
 6,
 5,
 6,
 6,
 7,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 7,
 5,
 5,
 7,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 5,
 5,
 6,
 5,
 6,
 5,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 5,
 7,
 5,
 6,
 7,
 6,
 5,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 5,
 6,
 5,
 6,
 6,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 7,
 6,
 7,
 6,
 6,
 7,
 6,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 6,
 7,
 5,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 5,
 ...]

In [114]:
sub= pd.DataFrame(y4, columns=['quality'])
sub

      quality
0           6
1           6
2           6
3           5
4           7
...       ...
2594        6
2595        6
2596        6
2597        6
2598        7

[2599 rows x 1 columns]

In [115]:
sub.to_csv('AssignSub.csv')